<.flash_group flash={@flash} />
<div>
  <.form :let={player} action={"/test"}>
    <.input type="text" field={player[:name]}  />
    <button>Start new game</button>
  </.form>
</div>
<div style="margin-top: 30px">
  <ul>
    <%= Enum.map(@games, fn({name, _}) -> %>
      <li><%= name %></li>
    <% end) %>
  </ul>
</div>
